/* Footer Layout */
footer {
    background-color: var(--amazon-dark-blue);
    color: var(--white);
    margin-top: 30px;
}

.footer-back-to-top {
    background-color: #37475a;
    color: var(--white);
    text-align: center;
    padding: 15px;
    font-size: 13px;
    cursor: pointer;
}

.footer-back-to-top:hover {
    background-color: #485769;
}

.footer-links-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    border-bottom: 1px solid #3a4553;
}

.footer-column {
    min-width: 150px;
    margin: 0 30px;
}

.footer-column h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 14px;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ddd;
    font-size: 13px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-copyright {
    font-size: 12px;
    color: #ddd;
    margin-top: 20px;
    text-align: center;
}